{% extends "base.html" %}

{% block contents %}
<table>
{% for album in object_list.all %}
<tr>
 <td>
     <a href = "{{ album.get_absolute_url }}">{{ album.album_name }} </a>
 </td>
 <td>
     {{ album.date_created }}
 </td>
</tr>
 {% endfor%}
 </table>



<hr>

{% if current_page_user == request.user.username %}
<a href="#" id='album_create' class="btn btn-primary" data-toggle='modal'
data-target='#album_create_modal'>추가하기</a>
{%endif%}
<!-- modal -->
<div class="modal fade" id='album_create_modal' tabindex="-1" role="dialog"
    aria-labelledby="album_create_ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="font-weight-bold">앨범 새로 만들기</p>
                <button type="button" class="close" data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                <form class="input-group" id='form' method="POST"
                    action="{% url 'album:create_album' request.user.username %}">
                    {% csrf_token %}
                    {{form}}
                    <!-- <p>앨범 이름</p>
                    <input type="{{ form.album_name.field.widget.input_type }}" class="form-control" id="{{ form.album_name.id_for_label }}"
                        name="{{ form.album_name.name }}" required maxlength="50">
                    <p>비밀 앨범</p>
                    <input type="{{ form.is_private.field.widget.input_type }}" class="form-control" id="{{  form.is_private.id_for_label }}"
                    name="{{  form.is_private.name }}">
                     -->
                    <div class="text-right mr-1">
                        <a type="button" class='btn btn-primary' data-dismiss="modal">취소</a>
                        <input type="submit" class="btn btn-danger" value="생성">
                    </div>
                </form>
            </div>
           
        </div>
    </div>
</div>



{% endblock %}