{% extends "base.html" %}
{% block contents %}
<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-md-8">
            <div align="center"><img src="{{ object.image.url }}" class="img-fluid"></div>
            <div class="mr-">
                <a href="{% url 'users:profile' object.user %}">
                    <h3>{{ object.user }}</h3>
                </a>
            </div>
            <p>{{ object.title }} </p>
            <p>{{ object.description }} </p>
            <P>{{ object.date_uploaded}} </P>
            <p id='total_likes'> {{ total_likes }} </P>
            {% for user in object.likes.all %}
            {{ user }}
            {% endfor %}

            {% if object.user == request.user %}

            <a href="{% url 'gallery:delete' object.id %}" class="btn btn-primary">delete</a>
            <a href="{% url 'gallery:update' object.id %}" class="btn btn-primary">update</a>

            {% endif %}
            <br>

            <button class='like_button btn btn-primary' value="{{object.id}}">좋아요 테스트</button>
        </div>

        <!-- comment section -->
        <div class="col-md-4">
            <!-- comment add form -->
            {% if user.is_authenticated%}
            <div class=" my-3">
                <p class='mb-0 ml-2'>Leave a comment ! </p>
                <!-- 장고 폼을 쓰면서 인풋 그룹으로 한줄에 버튼을 쓰려면 폼 자체를 인풋그룹으로 만들어야 함.  -->
                <!-- https://stackoverflow.com/questions/61342133/django-bootstrap-input-group-not-rendering-desired-html-css-with-form -->
                <form class="input-group" id='comment_form' method="POST"
                    action="{{ photo.get_absolute_url }}add_comment/">
                    {% csrf_token %}
                    {% for field in comment_form %}
                    <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
                        name="{{ field.name }}" required maxlength="300">
                    {% if field.errors %}
                    <div class='invalid-feedback'>
                        <small class='text-danger'>{{ field.errors }}</samll>
                    </div>
                    {% endif %}
                    {%endfor%}
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary btn-sm">ADD</button>
                    </div>
                </form>
            </div>
            {% endif %}
            <!-- comment show area -->
            {% if photo.comments.exists %}
            <div class="card border-secondary mb-3">
                <div class="card-header">{{ object.comments.count }} comments</div>
                <div class="card-body">
                    {% for comment in object.comments.all %}
                    {% if not comment.parent_comment %}
                    <div class="card-title">
                        <h5 class='d-inline'>{{comment.user}} </h5>
                        &nbsp;&nbsp;&nbsp;<small>{{ comment.date_posted |date:"y/m/d H:i" }}</small>
                        {% if request.user == comment.user %}
                        <a href="#" id='comment-{{comment.pk}}-delete-modal' data-toggle='modal'
                            data-target='#deleteCommentModal-{{comment.pk}}'>
                            <i class="fas fa-times float-right mt-1"></i>
                        </a>
                        {% endif %}
                    </div>
                    <p class="card-text">{{comment.comment_text}}</p>
                    <div class="d-flex">
                        <div>
                        {% if user.is_authenticated%}
                            <a data-toggle="collapse" href="#subcommentform{{comment.id}}"><small class="text-info">
                            <i class="fas fa-reply fa-rotate-180"></i> Reply</small>
                            </a>
                        {%endif%}
                        </div>
                        {% if comment.sub_comment.exists %}
                        <div class="ml-auto">
                            <a data-toggle="collapse" href="#subcomments{{comment.id}}">
                            <small><i class="fas fa-angle-down"></i> 답글 {{comment.sub_comment.count}}개 보기</small>
                            </a>
                        </div>
                        {%endif%}
                    </div>
                    <!-- sub comment form -->
                    <div class="collapse" id="subcommentform{{comment.id}}">
                        <form class="input-group" id='comment_form' method="POST"
                            action="{{ photo.get_absolute_url }}add_comment/">
                            {% csrf_token %}
                            {% for field in comment_form %}
                            <input type='hidden' name='parent_comment' value='{{ comment.pk }}'>
                            <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
                                name="{{ field.name }}" required maxlength="300">
                            {% if field.errors %}
                            <div class='invalid-feedback'>
                                <small class='text-danger'>{{ field.errors }}</samll>
                            </div>
                            {% endif %}
                            {%endfor%}
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary btn-sm">ADD</button>
                            </div>
                        </form>
                    </div>
            
                    <hr class="my-3">

                    <!-- sub comment area -->
                    {% if comment.sub_comment.exists %}
                    <div class="collapse" id="subcomments{{comment.id}}">
                    {%for sub_comment in comment.sub_comment.all %}
                    
                        <div class="row">
                            <div class="ml-3">┖</div>
                            <div class='col'>
                                <div class="card-title">
                                    <h5 class='d-inline'>{{sub_comment.user}} </h5>
                                    &nbsp;&nbsp;&nbsp;<small>{{ comment.date_posted |date:"y/m/d H:i" }}</small>
                                    {% if request.user == sub_comment.user %}
                                    <a href="#" id='comment-{{sub_comment.pk}}-delete-modal' data-toggle='modal'
                                        data-target='#deleteCommentModal-{{sub_comment.pk}}'>
                                        <i class="fas fa-times float-right mt-1"></i>
                                    </a>
                                    {% endif %}
                                </div>
                                <p class="card-text">{{sub_comment.comment_text}}</p>
                            </div>
                        </div>
                    
                    <hr class="my-3">
                    {%endfor%}
                    </div>
                    {%endif%}
                    {%endif %}
                    <!-- Modal -->
                    <!-- delete -->
                    <div class="modal fade" id='deleteCommentModal-{{comment.pk}}' tabindex="-1" role="dialog"
                        aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <p class="font-weight-bold">댓글을 삭제하시겠습니까?</p>
                                    <button type="button" class="close" data-dismiss='modal' aria-label='Close'>
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class='modal-body'>
                                    {{comment.comment_text}}
                                </div>
                                <div class="text-right mr-1">
                                    <a type="button" class='btn btn-primary' data-dismiss="modal">취소</a>
                                    <a role="button" class="btn btn-danger"
                                        href='/gallery/delete_comment/{{comment.pk}}/'>삭제</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(".like_button").click(function () {
        var pk = $(this).attr('value')
        $.ajax({
            type: "POST",
            url: "{% url 'gallery:photo_like' %}", // 통신할 url을 지정
            data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' }, // 서버로 데이터 전송시 옵션
            dataType: "json",   

            success: function (response) {
                $("#total_likes").html(response.total_likes);
            },
        });
    });
    $('.collapse').collapse()

</script>


{% endblock %}