{% extends "base.html" %}

{% block contents %}
<!-- <div class="row mt-5">
    <div class="col-12 text-center">
        <h1>로그인</h1>
    </div>
</div> -->

<div class="row justify-content-md-center mt-5">
    <div class="card border-secondary col-md-3">
        <div class="card-body">
        <form method="POST" action=".">
            {% csrf_token %}
            <fieldset>
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
                placeholder="{{ field.label }}" name="{{ field.name }}">
            </div>
            {% if field.errors %}
                <samll>{{ field.errors }}</samll>
            {% endif%}
            {% endfor %}
            </fieldset>
            <input type="hidden" name='next' value="{{ request.GET.next }}"/>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">login</button>
            <div>
        </form>
        </div>
    </div> 
</div>
{% endblock %}
